.edit-profile{
    background-color: white;
    width: 45rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(175, 175, 175);
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 150;
    border-radius: .5rem;
    &-top{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(175, 175, 175);

    }
    &-body{
        display: flex;
        flex-direction: column;

    }
    
    &-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        img{
            width: 100%;
        }
    }
    &-img-box{
        width: 18rem;
        height: 18rem;
        overflow: hidden;
        border-radius: 50%;
        margin: 1rem;
        position: relative;
        img{
            width: 100%;
        }
    }
    &-info-box{
        display: flex;
        flex-direction: column;
        padding: 4rem;
    }
    &-info{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        label{color: rgb(138, 138, 138);}
        input{
            border: none;
            border-bottom: 2px solid #00493e;
            margin-bottom: 3rem;
            padding-top: .5rem;
            outline: none;
            color: inherit;
            font: inherit;
            &:focus{
                border-bottom: 2px solid #00cfb0;
            }
        }
    }
}

.edit-btn {
    padding: 1rem;
    position: absolute;
    top: 12rem;
    right: 25%;
    z-index: 10;
    label{
        background-color: #00493e; 
        color:white; border: none; 
        font-size: 1.8rem;
        line-height: 0; 
        padding: 1.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
    }
}