.sign-up-page{
    min-height: 80vh;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7%;
    h1{
        text-align: center;
        color: rgb(60, 59, 117);
        font-weight: bolder;
    }
}
.sign-up{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    &-message{
        color: red;
    }
    &-btn{
        width: 60%;
        margin: auto;
        text-align: center;
    }
    &-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        padding: 2.5rem;
        max-width: 32rem;
        background: rgba(255, 255, 255, 0.514);
        a{
            color: #324a6d;
        }
        
        &-title{
            text-align: center;
            color: #324a6d;
            padding: 1.5rem;
            padding-top: .5rem;
        }
        &-fields{
            margin:.5rem auto;
            padding: 1rem .5rem;
            width: 80%;
            input {
                box-sizing: border-box;
                border: 2px solid transparent;
                outline:none;
                background: none;
                background-color: rgb(227, 240, 255);
                color: rgb(124, 124, 124);
                padding:1rem 3rem;
                font-size: inherit;
                border-radius: .5rem;
                transition: all .2s;
                &:focus{
                    border: 2px solid rgb(104, 182, 255);
                }
                &::placeholder{
                    color: rgb(165, 165, 165);
                }
              }
        
        }
        &-field{
            margin-bottom: 2rem;
            border-radius: .5rem;
        }
        
    }
    &-img{
        width: 55%;
        @media only screen and (max-width:50em) {width: 70%;}
        img{
          width: 100%;  
        }
    }
}



.sign-up-to-sign-in{
    text-align: center;
    padding: 2rem;
    &-link{
        text-decoration: underline;
        color: #324d6d;
        
    }
}

